.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container {
    position: relative;
}
.container .shop_now {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    color:black;
}

.m-r-2 {
    margin-right: 5px;
}


.delete {
    cursor: pointer;
}