<header>
    <div class="navbar">
        <div class="navbar-brand align-item-center d-flex">
            <img src="assets/online-shop-logo.jpg" alt="Logo">

            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search Products">

            </div>
            <span class="fas fa-search search-icon"></span>
        </div>

        <button (click)="navigateToUserDashboard()" class="btn">
            <i class="fa-solid fa-user"></i>
        </button>
        <button (click)="navigateToCart()" class="btn">
            <i class="fas fa-cart-plus"></i>
            <div class="badge bg-danger">
                {{ totalItems }}
            </div>
        </button>
    </div>
</header>
