.otp-container{
    margin-top: 15px;
    padding: 10px;
    border-radius: 15px;
}
.pay-btn {
    width: 150px;
    margin: 20px;

}
.p-10 {
    padding: 10px;
}

.disclaimer {
    text-align: center;
    align-content: center;
}