<div fxFlex="100" fxLayoutAlign="start center" fxLayout="row">    
    <div fxFlex.gt-md=33 fxFlex=33>
        <button mat-icon-button class="m-r-5" (click)="redirectToCart()"> <mat-icon>shopping_cart</mat-icon></button>
        <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <mat-icon>person</mat-icon></button>
        <mat-menu #profile="matMenu" class="mymegamenu">
         <button mat-menu-item>
             <mat-icon>settings</mat-icon> Settings </button>
         <button mat-menu-item>
             <mat-icon>account_box</mat-icon> Profile </button>
         <button mat-menu-item>
             <mat-icon>history</mat-icon> Order History </button>
         <button mat-menu-item (click)="logOut()">
             <mat-icon>exit_to_app</mat-icon> Sign Out </button>
        </mat-menu>
    </div>
</div>
