.addToCart {
  border-radius: 30px;
  margin-bottom: 10px;
  border-color: black !important;
}

.image-container {
  height: 70%;
  width: 70%;
  display: flex;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
.f-right {
    float: right;
}
.favorite {
    position: absolute;
    float: right;
    right: 8px;
    color: rgb(255, 179, 0);
    top:8px;
    cursor: pointer;
    z-index: 999;
}
.rating {
  margin-top: 10px;
}