.addToCart {
  border-radius: 30px;
  margin-bottom: 10px;
  border-color: black !important;
}

.image-container {
  height: 70%;
  width: 70%;
  display: flex;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  margin-bottom: 10%;
}
mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 200px; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 250px;
}
.f-right {
    float: right;
}
.favorite {
    position: absolute;
    float: right;
    right: 8px;
    color: rgb(255, 179, 0);
    top:8px;
    cursor: pointer;
    z-index: 999;
}
.rating {
  margin-top: 10px;
}