<mat-card class="example-card">
  <mat-card-content>
    <div class="ic">
      <mat-icon  class="f-right favorite" >favorite</mat-icon>
      <img mat-card-image 
      class="image-container"
      src="https://static.swappa.com/images/cache/c1/06/c106fe1fc6fd57180ce4432a1f2ab581.png"  alt="Photo of a Shiba Inu">
    </div>
    <div class="px-3">
      <div style="display:grid"> 
        <strong>
          <span style="float:left" >AirPods Max</span>  
          <span style="float:right">$559<sup>.00</sup></span> 
        </strong>  
      </div>
      <div>A perfect balace of high-fidelity audio</div>
      <div class="rating"><star-rating></star-rating>(121)</div>
    </div>
    
  </mat-card-content>
  <mat-card-actions class="px-4">
    <button mat-stroked-button class="addToCart">Add to Cart</button>
  </mat-card-actions>
</mat-card>