<mat-card class="example-card">
  <mat-card-content>
    <div class="ic">
      <mat-icon class="f-right favorite">favorite</mat-icon>
      <img
        mat-card-image
        class="image-container"
        [src]="product.imageUrl"
        height="250"
        width="200"
        alt="Photo of a Shiba Inu"
      />
    </div>
    <div class="px-3">
      <div style="display: grid">
        <strong>
          <span style="float: left">{{product.name}}</span>
          <span style="float: right">{{product.price | currency}}</span>
        </strong>
      </div>
      <div>{{product.description}}</div>
      <div class="rating"><star-rating></star-rating>(121)</div>
    </div>
  </mat-card-content>
  <mat-card-actions class="px-4">
    <button mat-stroked-button class="addToCart" (click)="addToCartThisItem()">
      Add to Cart
    </button>
  </mat-card-actions>
</mat-card>
